@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Hammersmith One', sans-serif;
}

body{
    background-color: #01446F;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
#logo{
    width: 500px;
    height: 500px;
}
#label{
    color: white;
    letter-spacing: 0.05em;
}
#heading{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
#heading>#title>a{
    color: white;
    text-decoration: none;
}
.social_media{
    width: 20%;
    display: flex;
    justify-content: space-around;
}
.social_media>a{
    color: white;
    font-size: 20px;

    transition: 0.1s ease-in-out;
}
.social_media>a:hover{
    font-size: 30px;

    transition: 0.3s ease-in-out;
}
#content,#description{
    display: flex;
    justify-content: center;
    align-items: center;
}
#description{
    padding: 10px;
    background-color: #2DB4A1;
    flex-direction: column;
}
#description>#title{
    color: white;
    padding: 15px;
}
#description>#title>span>img{
    width: 20px;
    height: 20px;
    margin: 0px 10px;
}
#transactions{
    width: 100%;
}
#feature>.features{
    color: white;
    width: 200px;
    text-align: left;
    margin: 5px 0px;
    padding: 5px;
    border-bottom: 2px solid #01446F;
    letter-spacing: 0.08rem;
}
#address>input{
    margin-top: 5px;
    padding: 10px;
}
#address>input:focus{
    border: none;
    outline: none;
}
#btn_buy,#btn_copy{
    background-color: #2DB4A1;
    outline: none;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    padding: 10px;
}
#btn_copy{
    background-color: #01446F;
}
#btn_buy:hover,#btn_copy:hover{
    cursor: pointer;
    opacity: 0.8;
}
#btn_buy>a{
    text-decoration: none;
    color: white;
}
#links{
    padding: 15px;
}
#links>a{
    padding: 15px;
    color: white;
    text-decoration: none;
}
#link>a:nth-child(1){
    border-right: 2px solid white;
}
@media(max-width:500px){
    #logo{
        width: 250px;
        height: 250px;
    }
    #heading>#title>a{
        font-size: 20px;
    }
    #heading{
        flex-direction: column;
    }
    .social_media{
        width: 80%;
    }
    #content{
        flex-direction: column-reverse;
    }
    #links>a{
        font-size: 12px;
    }
}