@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Hammersmith One', sans-serif;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
#logo{
    width: 500px;
    height: 500px;
}
#label{
    color: white;
    letter-spacing: 0.05em;
}
#heading{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
#heading>#title>a{
    color: white;
    text-decoration: none;
}
.social_media{
    width: 20%;
    display: flex;
    justify-content: space-around;
}
.social_media>a{
    color: white;
    font-size: 20px;

    transition: 0.1s ease-in-out;
}
.social_media>a:hover{
    font-size: 30px;

    transition: 0.3s ease-in-out;
}
